.list-group-item {
    padding: 5px;
    margin-top: -1px;
    border-top-width: 1px;
    background-image: var(--secondary-color);
    color: var(--text-color);
    box-shadow: 0px 3px 1px -2px rgba(255, 255, 255, 0.767),0px 2px 2px 0px rgba(255, 255, 255, 0.658),0px 1px 5px 0px rgba(255, 255, 255, 0.699);
    border-color: var(--text-color);
}

.list-group-item.active {
    background-image: unset;
    background-color: var(--alt-color);
    color: var(--main-color);
}

.list-group-item:hover {
   background-image: var(--secondary-color);
   color: var(--text-color);
}

.List {
    height: 35em;
    list-style: none;
    overflow-y: scroll;
}

.Selection {
    display: flex;
    flex-direction: column;
}
