.Stack {
    align-content: center;
    align-items: center;
    height: 100%;
}

.SidePanel {
    display: grid;
    width: 5%;
}

.SidePanel-button  {
    outline: none;
    color: var(--text-color);
    background-color: unset;
    background-image: var(--secondary-color);
    box-shadow: 4px 4px 5px var(--alt-color) !important;
    border-radius: 4px;
    margin: 5px;
    width: 100%;
    border-color: var(--text-color);
}

.SidePanel-button:hover {
    border-color: var(--text-color);
    background-image: unset;
    background-color: var(--alt-color);
}

.SidePanel-button:focus {
    border-color: var(--text-color);
    background-color: var(--alt-color);
}
.SidePanel-button:active {
    box-shadow: inset 10px 10px 10px -10px var(--line-color) !important;
    border-color: var(--text-color);
}
