.DropDown {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 20%;
}

.Menu{
    background: white;
    border-radius: 8px;
    right: 4px;
    width: 10em;
    box-shadow: 0 1px 8px white;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    position: relative;
    display: flex;
}

.DropdownTrigger {
    background: white;
    border-radius: 90px;
    cursor: pointer;
    padding: 4px 6px;
    box-shadow: 0 1px 3px white;
    border: none;
    transition: box-shadow 0.4s ease;
    font-weight: 700;
    font-size: 14px;
    margin: 0 10px;
    width: 40%;
    height: 60%;
}

.DropdownTrigger:hover{
    box-shadow: 0 1px 8px white;
}

.Active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.DropdownList {
    width: 100%;
    margin: 4px 0 10px 0!important;
}

.DropdownItem {
    width: 100%;
    text-align: center;
    margin-bottom: -4px;
}

.DropdownButton {
    transition-duration: 0.5s;
    background-color: white;
    border-style: solid;
    border-width: 1px 0 1px 0;
    width: 99%;
}

.DropdownButton:hover {
    background-color: lightgray;
}
