.Main {
    color: white;
    display: flex;
    flex-direction: row;
}

.List {
    height:25em;
    overflow-y: auto;
    display: inline-block;
    list-style: none;
}

.Button {
    color: black;
    background-color: whitesmoke;
    box-shadow: 0px 3px 1px -2px rgba(255, 255, 255, 0.767),0px 2px 2px 0px rgba(255, 255, 255, 0.658),0px 1px 5px 0px rgba(255, 255, 255, 0.699);
    border-radius: 4px;
    margin: 5px;
}

.Selection {
    display: flex;
    flex-direction: column;
}

.DropDownMenu {

}
